* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.wavepic {
  height: 373px;
  background: linear-gradient( rgba(17, 117, 192, 0.75), rgba(17, 117, 192, 0.75)), url("images/wavepic.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
}
.logosearch {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}
.headlinetext {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
h2 {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  position: inherit;
}
.infoblock {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.maintext {
  font-family: 'font-family: 'Oswald', sans-serif;', cursive;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: gray;
  width: 613px;
  padding: 50px;
}
.addbox {
  font-family: 'font-family: 'Oswald', sans-serif;', cursive;
  font-family: 'Open Sans', sans-serif;
  background-color: blue;
  display: inline-block;
  width: 363px;
  padding: 50px
}
.wavepic ul {
  float: right;
}
.wavepic h1 {
  text-align: center;
  font-family: 'font-family: 'Oswald', sans-serif;', cursive;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
h2 {
  text-align: center;
}
.surferpic {
  background-image: url("images/surfer.jpg");
}
.image {
  height: 292px;
  width: 25%;
  display: inline-block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.beerpic {
  background-image: url("images/beer.jpg");
}
.beardguypic {
  background-image: url("images/beardguy.jpg");
}
.liquorpic {
  background-image: url("images/liquor.jpg");
}
footer {
  background-color: black;
  color: white;
}
.footercontent {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.tiytag, footer ul, footer li, {
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}
footer ul {
  position: absolute;
  float: right;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
li {
  display: inline-block;
}
