* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.wavepic {
  height: 550px;
  background: linear-gradient( rgba(17, 117, 192, 0.75), rgba(17, 117, 192, 0.75)), url("images/wavepic.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
}
.logosearch {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}
header ul {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.infoblock {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.maintext {
  font-family: 'font-family: 'Oswald', sans-serif;', cursive;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: gray;
  width: 613px;
  padding: 50px;
}
.addbox {
  background-color: blue;
  display: inline-block;
  width: 363px;
  padding: 50px
}
.sricon {
  float: right;
}
.wavepic ul {
  float: right;
}
.wavepic h1 {
  text-align: center;
  font-family: 'font-family: 'Oswald', sans-serif;', cursive;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
h2 {
  text-align: center;
}
.picbox {
  background-color: gray;
}
footer {
  background-color: black;
  color: white;
}
.footercontent {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.tiytag, footer ul, footer li, {
  display: inline-block;
  vertical-align: middle;
}
footer ul {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
li {
  display: inline-block;
}
